.dashboard-page
  .col-sm-4
    = render "left_side_dashboard"
  .col-sm-8
    .row
      .col-sm-12.content-header
        %label alerts - messages - ad space
    .row.assets_libraries-content
      %h3{style:"text-align:center;padding-top:20px;"} Asset Libraries
      = form_tag dashboard_upload_file_path, multipart:true, class:"form-inline" do
        .row
          .col-md-12
            .form-group
              %label{:for => "category"} Category
              = select_tag :category, options_from_collection_for_select(Category.all, "id", "title", 1), class: "form-control"
            .form-group
              .input-group
                %label.input-group-btn
                  %span.btn.btn-primary
                    Browse…
                    %input{:multiple => "multiple", :style => "display: none;", :type => "file", name:"file", required: true}/
                %input.form-control{:readonly => "readonly", :type => "text"}/
            = submit_tag "Upload", class: "btn btn-primary"
    .row.assets_libraries-content
      .col-sm-12{style:"margin-bottom:60px;"}
        %table.table.table-responsive.table-striped.table-bordered
          %thead
            %tr
              %th File Name
              %th Category
              %th.hidden-xs Uploaded At
              %th Manage
          %tbody
            - @asset_libraries.each do |asset|
              %tr
                %td= link_to File.basename(asset.file.path), asset.file.url, target: "_blank"
                %td
                  %span.hidden-xs
                    = link_to asset.category.title, category_path(asset.category) if asset.category.present?
                  %span.visible-xs
                    = link_to asset.category.id, category_path(asset.category) if asset.category.present?
                %td.hidden-xs= asset.created_at.strftime("%b %dth %Y")
                %td{style:"text-align:center;"}
                  = link_to dashboard_destroy_file_path(id:asset.id), method: :delete, data:{confirm: "Are you sure"} do
                    %span.glyphicon.glyphicon-trash{"aria-hidden" => "true"}
        = paginate @asset_libraries
        -# = will_paginate @asset_libraries, renderer: BootstrapPagination::Rails
:javascript
  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });
