.dashboard-page
  .col-md-3.side_nav
    = render "dashboard/left_side_dashboard"
  .col-md-9.groups-page
    .row
      .col-md-12.content-header
        %label alerts - messages - ad space
    .row.page-content
      .col-sm-12.mar-top-20
        %h1.page-title Create Group ( #{@group.name} ) Assignment
    .col-md-12.mar-top-50
      = form_for(:assignment, url: create_group_assignment_assignments_path(@group), html: { class: "form-horizontal"}) do |f|
        = f.hidden_field :hr_manager_id , value: current_user.id
        = f.hidden_field :assignee_id , value: @group.id
        = f.hidden_field :assignee_type , value: "Group"
        .row
          .col-md-12
            .form-group
              .col-md-2
                %label Select One
              .col-md-6
                = select_tag "assignment[content_type]", options_for_select([["Category", "Category"], ["Topic", "Topic"], ["Season", "Season"], ["Episode", "Episode"]]), include_blank: 'Select One', class: " form-control input-md", id: "select_content_name"
            .form-group
              .col-md-2
                %label Select One
              .col-md-6
                = f.select :content_id, [], {}, {class: " form-control input-md", id: "select_cantents_value"}
            = f.submit "Create", class: "btn btn-default"


:javascript
  $(document).on("change", "#select_content_name", function(){
    var content_name = $("#select_content_name").val();
    $.ajax({
      type: "GET",
      url: "/assignments/select_content",
      data: {content_name: content_name},    
      success: function (data) {
      }
    });
  });