= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  #loginSignupHead.content{style:"margin-top: 100px;"}
    Signup For An Account
  .ui.stacked.segment
    .field
      #colorFix.ui.left.input
        = f.text_field :first_name, :placeholder=>'First Name', autofocus: true
    .field
      #colorFix.ui.left.input
        = f.text_field :last_name, :placeholder=>'Last Name'
    .field
      #colorFix.ui.left.icon.input
        = f.email_field :email, :placeholder=>'Email'
        %i.user.icon
    .field
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      #colorFix.ui.left.icon.input
        = f.password_field :password, :placeholder=> "Password", autocomplete: "off"
        %i.lock.icon
    .field
      #colorFix.ui.left.icon.input
        = f.password_field :password_confirmation, :placeholder=> "Confirm Password", autocomplete: "off"
        %i.lock.icon
    .field
      #colorFix.ui.left.input
        = f.text_field :company_id, :placeholder=>"Company ID"
    .field
      #colorFix.ui.left.input
        = f.text_field :employee_id, :placeholder=>"Employee ID"
    .field
      #colorFix.ui.left.input
        = f.select :user_type, User.user_types.keys.map { |w| [w.humanize, w] }, class:"ui fluid dropdown"
    .actions
      = f.submit "Sign up", id: "signupButton",class: "ui fluid large submit button"
