.dashboard-page
  .col-sm-3.side_nav
    = render "dashboard/left_side_dashboard"
  .col-sm-9.groups-page
    .row
      .col-sm-12.content-header
        %label alerts - messages - ad space
    .row.page-content
      .col-sm-12
        %h1.page-title Create Group
    .container.mar-top-50
      = form_for @group, url: groups_path do |f|
        .row
          .col-md-8
            .form-group
              %label.col-md-4.control-label{:for => "employee_name"} Employees Name
              .col-md-8
                = select_tag :employee_ids, options_for_select(User.employees.map{|e| [e.first_name, e.id] }), class: "select2_search col-md-8", multiple: true
              .clearfix
            .form-group
              %label{:for => "Name"} Name
              = f.text_field :name, :placeholder => "Name", class: "form-control"
            = f.submit "Create Group", class: "btn btn-default"
