.container
  %h1 Edit Profile
  %hr/
  .row
    = form_tag(upload_image_user_path(current_user), remote: true, authenticity_token:true, multipart: true, class:"form-horizontal", id:"upload_image_form") do |f|
      .col-md-3
        .text-center
          - if current_user.avatar.present?
            = image_tag current_user.avatar.url, width: 200, height: 200, id:"user_avatar"
          - else
            = image_tag "avatar.png", width: 200, height: 200, id:"user_avatar"
          %h6 Upload a different photo...
          = file_field_tag :avatar, class: "form-control", onchange:"readURL(this);"
      / edit form column
    = form_for(current_user, url: user_path(current_user), html:{class:"form-horizontal"}) do |f|
      .col-md-9.personal-info        
        %h3 Personal info
        .form-group
          = f.label :email, class: "col-lg-3 control-label"
          .col-lg-8
            = f.email_field :email, class:"form-control"
        .form-group
          = f.label :first_name, class: "col-lg-3 control-label"
          .col-lg-8
            = f.text_field :first_name, class:"form-control"
        .form-group
          = f.label :last_name, class: "col-lg-3 control-label"
          .col-lg-8
            = f.text_field :last_name, class:"form-control"
        .form-group
          = f.label :company_id, class: "col-lg-3 control-label"
          .col-lg-8
            = f.text_field :company_id, class:"form-control"
        .form-group
          = f.label :employee_id, class: "col-lg-3 control-label"
          .col-lg-8
            = f.text_field :employee_id, class:"form-control"
        -# .form-group
        -#   = f.label :password, class: "col-lg-3 control-label"
        -#   .col-lg-8
        -#     = f.password_field :password, class:"form-control"
        -# .form-group
        -#   = f.label :password_confirmation, class: "col-lg-3 control-label"
        -#   .col-lg-8
        -#     = f.password_field :password_confirmation, class:"form-control"
        .form-group
          %label.col-md-3.control-label
          .col-md-8
            = f.submit "Save Changes", class: "btn btn-primary"
            %span
            = link_to "Cancel", root_path, class: "btn btn-default"
:javascript
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#user_avatar')
                .attr('src', e.target.result)
                .width(200)
                .height(200);
        };

        reader.readAsDataURL(input.files[0]);
        $("#upload_image_form").submit();
        //var form_data = new FormData(form[0]);
        //var action_url = form.attr('action');
        /*
        $.ajax({
          method: "POST",
          url: action_url,
          cache: false,
          contentType: false,
          processData: false,
          data: form_data
        })
        .done(function( msg ) {
          alert( "Data Saved: " + msg );
        });
        */
    }
  }
