!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BoxSpring Entertainment
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body{style:"padding-top:20px;"}
    .container.about-us-page
      .row{style:"text-align:center;margin-bottom:20px;"}
        = link_to root_path do
          = image_tag "BoxSpringLogo.jpg", height:100
      .row
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          %h4 ABOUT US:
          %p
            %em "Everybody is a genius, but if you judge a fish by its ability to climb a tree, it will live its whole life believing it is stupid."
            Albert Einstein.
          %p{style:"margin-top:50px;margin-bottom:20px;"}
            Boxspring Channel is a Human2Human (H2H) Corporation - a global media company creating, producing, distributing coaching products in the format of film, APPs, books, VR, Quizzes, events - all available through our subscription based video on demand streaming platform. All rights reserved.  Client & Go To Market Partner is Accenture.


          %h4 ISSUES WE ADDRESS:

          %p 1. Recruitment costs
          %p 2. Onboarding costs
          %p 3. Ineffective Training costs
          %p 4. Turnover costs
          %p 5. Disengaged costs
          %p 6. Poor performance costs
          %p 7. Ineffective communication costs
          %p 8. Non-actionable takeaways costs.

          %h4 HOW:

          %p Through award winning story telling and expertise in coaching and film the core recipe of Boxspring Channel is already effective. As H2H patent pending products focus on identifying, measuring and enhancing a persons natural strengths and ability to both communicate and receive information, this rapidly improves and empowers an individuals performance both at home and in the workplace. For over twenty years the founders have seriously been interested in disrupting the training issues at hand today and with that we are bringing the interest back into learning.

          %p{style:"margin-top:30px;margin-bottom:30px;"}
            %em{style:"margin-left: 20px;"} "Turn us back into Teachers and Teachers back into heroes."

          %p{style:"text-align:center;"} Clare Munn, Founder CEO
          %p{style:"margin-top:30px;margin-bottom:30px;"}
            For more information please contact: Michelle Czarnik
            %a{href: "mailto:mc@h2hcorporation.com"} mc@h2hcorporation.com
    = render "shared/footer"
