= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"
.category-show-page
  .row
    .col-md-12
      = link_to category_path(@category) do
        %h1#formatHeaderShow= @category.title
  .row
    .col-md-12{style:"padding:0px;"}
      = image_tag @category.snap_shot.url, class: "img-responsive", height: 800, width:"100%" if @category.snap_shot.present?
    .col-md-10.col-md-offset-1{style:"margin-top:-13%"}
      .row.episode-slick{style:"margin-left: -15px; margin-right: -15px;"}
        - @episodes.each do |episode|
          - if episode.series_id == @season.series_id
            .col-md-3.col-sm-3.col-xs-3
              = link_to episode_path(episode), class: "episode-show-link" do
                .episode-image
                  = image_tag episode.snap_shot.url, class:"img-responsive", height:145, width: "100%" if episode.snap_shot.present?
                .episode-title.hidden-xs
                  = episode.title
                .episode-title.episode-title-small.visible-xs
                  %small= episode.title
    -# .col-md-10.col-md-offset-1.visible-md.visible-lg{style:"position: relative;margin-top: -18%;"}
    -#   %button#preview.ui.red.small.button.disabled
    -#     Coming Soon
  .row
    #tools
      %h1#toolsHeader TOOLS
      %p
        Thoughfully curated, the following audio books, podcasts, games, VR short films,
        and immersive content pieces ought to provide any type of learner an engaging way to learn more about this subject.
      - if @category.category_id.to_i == 3
        = image_tag "SocMePic.jpg", :class => 'SocMe'
        = image_tag "LinkedInPic.jpg", :class => 'LinkedIn'
      - elsif @category.category_id.to_i != 3


    #quizzes.mar-top-20
      .col-md-12
        %h1.text-center Quizzes
        .quizzes
          - @category.quizzes.each do |quiz|
            .col-md-2
              = link_to quiz.name, take_a_quiz_employee_take_quiz_index_path(quiz_id: quiz.id)
    .clearfix

    #convo
      - if @category.message_board_permission current_user
        = link_to message_board_category_path(@category) do
          %h1 Join The Conversation
      - else
        %h1 Join The Conversation
      %p
        Many of us enjoy discussion what we are learning with others, so we've created a safe are for engagement.
        Please talk to your manager if this area requires "unlocking". In addition, on your own person platforms
        you can use the # tag from the list provided and automatically join groups on twitter and other platforms
        that are hosting these discussions.

    #clicky.ui.basic.modal
      %i.close.icon
      .header
        - if @category.category_id == 1
          The HR Files
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "", :msallowfullscreen => "", :oallowfullscreen => "", :scrolling => "no", :src => "//iframe.dacast.com/b/83869/f/365340", :webkitallowfullscreen => "", :width => "854"}
        - elsif @category.category_id == 3
          Hacks
        - elsif @category.category_id == 4
          Sea Knot
        - elsif @category.category_id == 2
          Communication

  .row{style:"padding-bottom:50px;"}
#episode_video.ui.basic.modal
=render "modals"
