.banner
  %div
#content
  = link_to category_path(@category) do
    %h1#formatHeaderShow= @category.title
  .seasonShow
    %div{:id => "#{@season.snap_shot}"}
      #previewNow
        %button#preview.ui.red.small.button
          Preview Series
      #episodeRow
        - @episodes.each do |episode|
          - if episode.series_id == @season.series_id
            = link_to video_modal_episode_path(episode), remote: true, class: "episode-video-modal-link" do
              .square
                .episodeImage{:id => "#{episode.snap_shot}"}
                .belowText
                  #episode
                  #episodeTitle
                    = episode.title
#topicShow
#tools
  %h1#toolsHeader TOOLS
  %p Thoughfully curated, the following audio books, podcasts, games, VR short films, and immersive content pieces ought to provide any type of learner an engaging way to learn more about this subject.
  - if @category.category_id.to_i == 1
    = image_tag "LowCQPic.png", :class => 'LowCQ'
    = image_tag "HighCQPic.png", :class => 'HighCQ'
  - elsif @category.category_id.to_i == 3 || @category.category_id.to_i == 4
    = image_tag "SocMePic.jpg", :class => 'SocMe'
    = image_tag "LinkedInPic.jpg", :class => 'LinkedIn'
#convo
  %h1 Join The Conversation
  %p Many of us enjoy discussion what we are learning with others, so we've created a safe are for engagement. Please talk to your manager if this area requires "unlocking". In addition, on your own person platforms you can use the # tag from the list provided and automatically join groups on twitter and other platforms that are hosting these discussions.

#clicky.ui.basic.modal
  %i.close.icon
  .header
    - if @category.category_id == 1
      The HR Files
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :mozallowfullscreen => "", :msallowfullscreen => "", :oallowfullscreen => "", :scrolling => "no", :src => "//iframe.dacast.com/b/83869/f/365340", :webkitallowfullscreen => "", :width => "854"}
    - elsif @category.category_id == 3
      Hacks
    - elsif @category.category_id == 4
      Sea Knot
    - elsif @category.category_id == 2
      Communication

#episode_video.ui.basic.modal
=render "modals"
