= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"
.row
  .col-md-12
    = link_to category_path(@category) do
      %h1#formatHeaderShow= @category.title
.row
  .col-md-12
    = image_tag @category.snap_shot.url, class: "img-responsive", height: 800, width:"100%" if @category.snap_shot.present?
  .col-md-10.col-md-offset-1{style:"margin-top:-16%"}
    .row
      - @episodes.each do |episode|
        - if episode.series_id == @season.series_id
          .col-md-3.col-sm-3.col-xs-3
            = link_to episode_path(episode), class: "episode-show-link" do
              .episode-image
                = image_tag episode.snap_shot.url, class:"img-responsive", height:145, width: "100%" if episode.snap_shot.present?
              .episode-title.hidden-xs
                = episode.title
              .episode-title-small.visible-xs
                %small= episode.title
.row{style:"padding-bottom:50px;"}
#episode_video.ui.basic.modal
=render "modals"
